body{
    background-color: rgb(5, 29, 52);
}

.top-invisible-box{
    margin: 0% 0% 0% 0%;
    height: 40px;
} 

.round-white-circle{
    margin-left: 72%;
    margin-top: 1.6%;
    height: 38px;
    width: 38px;
    display: flex;
    border-radius: 19px;
    background-color: aliceblue ;
}

.apple-share-image{
    padding-left: 4px;
    padding-top: 3px;
    height: 30px;
    width: 30px;
}

.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 46.5%;
}

.Name{
    margin-left: 45%;
    font-size: 21px;
    font-family: sans-serif;
    color: aliceblue;
    margin-top: 12px;
    margin-bottom: 12px;
}

.username{
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(240, 248, 255, 0.509);
    margin-left: 45.9%;
    margin-top: 0px;
    margin-bottom: 25px;
}

.link-box{
    font-family: sans-serif;
    height: 50px;
    display: flex;
    background-color: black; 
    border-radius: 3px;
    margin: 0% 29% 1.3% 29%;
    text-decoration: none;
    color: aliceblue;
    align-items:flex-end;
}

.link-box:hover{
    transform: scale(1.06);
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.text-in-box{
    /* Pivoting element, commenting this so that I do not forget how to change the pivot of an element from left to center.*/
    /* if you;re reading this, 
    I wanna tell you that this pivoting took me a lot of time, 
    asked multiple people, net searches, chat GPT etc etc, 
    but in the end had to figure it out myself
    maybe because I didn't know how to frame this question. */
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
